body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.site-header {
    background-color: rgb(35, 31, 32);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    max-width: 30%;
    height: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a.active {
    font-weight: bold;
}
