.body {
    --radius: 8px;
    --border: 4px;
    --height: 48px;
    --speed: 0.25s;
    display: grid;
    place-items: center;
    align-content: center;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
      Helvetica, Arial, sans-serif, system-ui;
  }
  
  .tabs {
    height: var(--height);
    display: grid;
    grid-auto-flow: column;
    background: hsl(0 0% 0%);
    border-radius: var(--radius);
    grid-auto-columns: 1fr;
    position: relative;
    border: var(--border) solid hsl(0 0% 0%);
  }
  
  .tabs {
    --ease: linear(
      0,
      0.1641 3.52%,
      0.311 7.18%,
      0.4413 10.99%,
      0.5553 14.96%,
      0.6539 19.12%,
      0.738 23.5%,
      0.8086 28.15%,
      0.8662 33.12%,
      0.9078 37.92%,
      0.9405 43.12%,
      0.965 48.84%,
      0.9821 55.28%,
      0.992 61.97%,
      0.9976 70.09%,
      1
    );
  }
  
  .tabs > .input,
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .tabs:has(:checked:nth-of-type(1)) {
    --active: 0;
  }
  .tabs:has(:checked:nth-of-type(2)) {
    --active: 1;
  }
  .tabs:has(:checked:nth-of-type(3)) {
    --active: 2;
  }
  .tabs:has(:checked:nth-of-type(4)) {
    --active: 3;
  }
  
  .tabs :checked + .label {
    --highlight: 1;
  }
  
  .tabs:has(.input:nth-of-type(2)) {
    --count: 2;
  }
  .tabs:has(.input:nth-of-type(3)) {
    --count: 3;
  }
  .tabs:has(.input:nth-of-type(4)) {
    --count: 4;
  }
  
  .tabs .label {
    padding: 0 clamp(10px, 10px + 10px, 20px);
    cursor: pointer;
    text-align: center;
    height: 100%;
    display: grid;
    border-radius: calc(var(--radius) - var(--border));
    place-items: center;
    color: hsl(0 0% 100% / calc(0.5 + var(--highlight, 0)));
    transition: background, color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
  }
  
  .input:not(:checked) + .label:hover {
    --highlight: 0.35;
    background: hsl(0 0% 20%);
  }
  
  .tabs::after {
    pointer-events: none;
    content: "";
    width: calc(100% / var(--count));
    height: 100%;
    background: hsl(0 0% 100%);
    position: absolute;
    border-radius: calc(var(--radius) - var(--border));
    mix-blend-mode: difference;
    translate: calc(var(--active, 0) * 100%) 0;
    transition: translate, outline-color;
    transition-duration: var(--speed);
    transition-timing-function: var(--ease, ease);
    outline: 2px solid transparent;
  }
  
  .tabs:has(:focus-visible)::after {
    outline-color: red;
  }
  
.form {
  margin : auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}